name: check
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: reviewdog を使えるようにする
        uses: reviewdog/action-setup@v1
      - uses: gradle/gradle-build-action@v2
      - name: プロジェクトのフォーマットチェック
        run: ./gradlew ktlintCheck
      - name: Convention Plugins のフォーマットチェック
        run: ./gradlew :build-logic:convention:ktlintCheck
      - name: detekt カスタムルールの単体テスト
        run: ./gradlew detekt-extensions:test
      - name: detekt による静的コード解析
        run: ./gradlew detekt
      - name: detekt の Issue をプルリクにコメントする
        run: reviewdog -f=sarif -name="detekt" -reporter=github-pr-review < app/build/reports/detekt/detekt.sarif
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Android アプリの単体テスト
        run: ./gradlew testDebug
